.table-query{
    border-radius: 10px;
    font-family: Montserrat;
    border-color: #976BD6;
    font-size: 20px;
}

.title-table{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
}