@import "pages/index.css";
@import "pages/logout.css";
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #8ea0dd, #8e6ad3);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.main {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
    width: 320px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 30vh;
    width: 50vh;
}
