
.title-page{
    font-family : "Montserrat";
    font-weight: bold;
    font-size: 2em;
    color: #976BD6;
    margin-bottom: 2vh;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
}

.home-btn{
    background: #976BD6;
    color: #ffffff;
    font-family : "Montserrat";
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.home-btn:hover{
    background: #4E2982;
    color: #ffffff;
    font-family : "Montserrat";
    font-size: 20px;
    border: none;
    border-radius: 7px;
}


.exit-btn{
    background: #976BD6;
    color: #ffffff;
    font-family : "Montserrat";
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.exit-btn:hover{
    background: #4E2982;
    color: #ffffff;
    font-family : "Montserrat";
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.main-box{
    position: relative;
    top: 5vh;
}






